# Lesson 2: Selecting and Filtering Data (SELECT & WHERE)

**Duration:** 20 minutes  
**Prerequisites:** Complete Lesson 1 first  
**Learning Mode:** Read explanations, then run each SQL query

---

## üéØ Learning Objectives

By the end of this lesson, you will be able to:
- Retrieve specific columns from a table using SELECT
- Filter data using the WHERE clause
- Use comparison operators (=, !=, <, >, <=, >=)
- Combine conditions with AND and OR
- Use pattern matching with LIKE and wildcards

## üìö Introduction to Querying Data

In Lesson 1, you created a database and inserted data. Now you'll learn how to **retrieve** specific information from your database. This is what makes databases so powerful!

The `SELECT` statement is the most commonly used SQL command. It allows you to:
- View all data in a table
- Select specific columns
- Filter rows based on conditions
- Search for patterns in text

## üõ†Ô∏è Setup: Connect to Database

**Run the next 3 cells to set up your environment:**

In [ ]:
# Load SQL magic extension
%load_ext sql

# Fix prettytable compatibility issue
import prettytable
try:
    # Try to access DEFAULT to see if it exists
    _ = prettytable.DEFAULT
except AttributeError:
    # If it doesn't exist, add it using SINGLE_BORDER
    from prettytable import SINGLE_BORDER
    prettytable.DEFAULT = SINGLE_BORDER

# Configure SQL magic settings
%config SqlMagic.autopandas = False
%config SqlMagic.displaycon = False
%config SqlMagic.feedback = False

In [ ]:
# Connect to the database created in Lesson 1
%sql sqlite:///starwars.db

In [ ]:
%%sql
-- View sample data to see what's available
SELECT * FROM characters LIMIT 5;

## üìö Quick Data Reference

**Not familiar with Star Wars?** No problem! Here's what data is in our database:

**Sample characters in the database:**
- Luke Skywalker (Human, 172cm, Tatooine)
- Darth Vader (Human, 202cm, Tatooine)  
- R2-D2 (Droid, 96cm, Naboo)
- Yoda (Yoda's species, 66cm, Unknown)
- Chewbacca (Wookiee, 228cm, Kashyyyk)
- Princess Leia (Human, 150cm, Alderaan)

**Available columns:**
- `name` - Character's name (text)
- `species` - What type of being (Human, Droid, Wookiee, etc.)
- `homeworld` - Planet they're from
- `height` - How tall in centimetres (numbers)

**üí° Tip:** Run `SELECT * FROM characters LIMIT 10;` anytime to see sample data!

## üîç Part 1: The SELECT Statement

### Basic SELECT Syntax

The simplest SELECT statement retrieves all data from a table:

```sql
SELECT * FROM table_name;
```

- `SELECT` - Command to retrieve data
- `*` - Means "all columns"
- `FROM` - Specifies which table
- `table_name` - Name of the table

### Query 1: Select All Characters

**Run the cell below to view all characters:**

In [ ]:
%%sql
-- Query 1: View all characters and all columns

### Query 2: Select Specific Columns

What if you only want to see names and species?

**Notice:** The output will only show two columns!

In [ ]:
%%sql
-- Query 2: View only names and species

### Query 3: Select Columns in Different Order

**Key Point:** Columns appear in the order you specify, not the table's order.

In [ ]:
%%sql
-- Query 3: View columns in a different order

## üîç Part 2: Filtering with WHERE

The `WHERE` clause filters rows based on conditions. Only rows that meet the condition are returned.

### Basic WHERE Syntax

```sql
SELECT columns FROM table_name WHERE condition;
```

### Comparison Operators

| Operator | Meaning | Example |
|----------|---------|---------|
| `=` | Equal to | `species = 'Human'` |
| `!=` or `<>` | Not equal to | `species != 'Droid'` |
| `<` | Less than | `id < 5` |
| `>` | Greater than | `id > 3` |
| `<=` | Less than or equal | `id <= 10` |
| `>=` | Greater than or equal | `id >= 1` |

### Query 4: Find All Humans

**You should see only the human characters:**

In [ ]:
%%sql
-- Query 4: Find all human characters

### Query 5: Find Characters from a Specific Planet

In [ ]:
%%sql
-- Query 5: Find all characters from Tatooine

### Query 6: Find Characters NOT from a Species

**Note:** Both `!=` and `<>` work for "not equal".

In [ ]:
%%sql
-- Query 6: Find all characters who are NOT human

## üîó Part 3: Combining Conditions

You can combine multiple conditions using `AND` and `OR`.

### Query 7: AND - Both Conditions Must Be True

**Result:** Only characters who are human AND from Tatooine.

In [ ]:
%%sql
-- Query 7: Find humans from Tatooine

### Query 8: OR - At Least One Condition Must Be True

**Result:** Characters who match either condition.

In [ ]:
%%sql
-- Query 8: Find characters who are either Droids OR from Naboo

### Query 9: Combining AND with OR

Use parentheses to group conditions:

**Why parentheses?** They ensure the OR is evaluated first, then the AND.

In [ ]:
%%sql
-- Query 9: Find humans from either Tatooine or Alderaan

## üé® Part 4: Pattern Matching with LIKE

The `LIKE` operator searches for patterns in text using wildcards.

### Wildcards

| Wildcard | Meaning | Example |
|----------|---------|---------|
| `%` | Any number of characters (including zero) | `'L%'` matches "Luke", "Leia" |
| `_` | Exactly one character | `'_oda'` matches "Yoda", "Boda" |

### Query 10: Find Names Starting with a Letter

**Result:** Luke Skywalker, Leia Organa

In [ ]:
%%sql
-- Query 10: Find all characters whose names start with 'L'

### Query 11: Find Names Ending with a Pattern

In [ ]:
%%sql
-- Query 11: Find all characters whose names end with 'o'

### Query 12: Find Names Containing a Pattern

**Key Point:** The `%` matches any characters before and after "Darth".

In [ ]:
%%sql
-- Query 12: Find all characters with 'Darth' in their name

### Query 13: Species Containing Specific Letters

**Note:** `DISTINCT` removes duplicates from results.

In [ ]:
%%sql
-- Query 13: Find all species containing 'oid'

## üéì Practice Exercises

Now it's your turn! Complete these queries:

### Exercise 1: Find Specific Characters

In [ ]:
%%sql
-- Exercise 1: Find all characters from Kashyyyk

### Exercise 2: Exclude Species

In [ ]:
%%sql
-- Exercise 2: Find all characters who are NOT droids

### Exercise 3: Multiple Conditions

In [ ]:
%%sql
-- Exercise 4: Find all characters whose names contain 'Sky'

### Exercise 4: Pattern Matching

In [ ]:
%%sql
-- Exercise 3: Find all humans NOT from Tatooine

## üéØ Challenge Problem

Write a query that finds all characters whose **species contains "oid"** AND whose **homeworld starts with 'N'**.

**Hint:** You'll need to combine WHERE, LIKE, and AND.

In [ ]:
%%sql
-- Challenge Problem: Species with 'oid' AND homeworld starting with 'N'

## ÔøΩÔøΩ Common Errors & Troubleshooting

### Case Sensitivity in SQLite

**Important:** SQLite text comparisons are case-sensitive by default.

```sql
-- These are DIFFERENT:
WHERE species = 'human'   -- Won't match 'Human'
WHERE species = 'Human'   -- Correct
```

**Solution:** Use `COLLATE NOCASE` for case-insensitive searches:
```sql
SELECT * FROM characters WHERE species = 'human' COLLATE NOCASE;
```

### LIKE Not Finding Results

**Problem:** Forgetting wildcards.

```sql
-- WRONG: Looks for exact match 'Luke'
WHERE name LIKE 'Luke'

-- CORRECT: Finds names containing 'Luke'
WHERE name LIKE '%Luke%'
```

### Mixing Up AND/OR

**Example:**
```sql
-- This returns NO results (no one is both a Droid AND Human)
WHERE species = 'Droid' AND species = 'Human'

-- This returns characters who are either
WHERE species = 'Droid' OR species = 'Human'
```

## ‚úÖ Checkpoint: What You've Learnt

Before moving on, make sure you can:

- ‚úÖ Use SELECT to retrieve all columns (`*`)
- ‚úÖ Select specific columns by name
- ‚úÖ Filter rows with WHERE
- ‚úÖ Use comparison operators (=, !=, <, >, <=, >=)
- ‚úÖ Combine conditions with AND/OR
- ‚úÖ Use LIKE with wildcards (%, _)
- ‚úÖ Understand case sensitivity in text comparisons

## üìñ Key SQL Commands Learnt

| Command | Purpose | Example |
|---------|---------|---------|
| `SELECT` | Retrieve data from tables | `SELECT name FROM characters;` |
| `WHERE` | Filter rows based on conditions | `WHERE species = 'Human'` |
| `AND` | Both conditions must be true | `WHERE species = 'Human' AND homeworld = 'Tatooine'` |
| `OR` | At least one condition must be true | `WHERE species = 'Droid' OR species = 'Human'` |
| `LIKE` | Pattern matching | `WHERE name LIKE 'L%'` |
| `%` | Wildcard: any characters | `'%Sky%'` |
| `_` | Wildcard: exactly one character | `'_oda'` |
| `DISTINCT` | Remove duplicate values | `SELECT DISTINCT species` |

## üéâ Excellent Work!

You can now query your database and find exactly the information you need! In the next lesson, you'll learn how to sort and limit your results.

**Ready to continue?** Open `lesson3_sorting.ipynb`

---

## üíæ Git Commands (for reference)

```bash
git status
git add solutions/lesson2_queries.ipynb
git commit -m "Completed Lesson 2: SELECT queries with WHERE filtering"
git push
```