# Lesson 5: Multiple Tables and Relationships

**Duration:** 20 minutes  
**Prerequisites:** Complete Lessons 1-4  
**Learning Mode:** Read explanations, then run each SQL query

---

## üéØ Learning Objectives

By the end of this lesson, you will be able to:
- Understand database normalization and why it matters
- Design one-to-many relationships
- Create related tables with foreign keys
- Link tables together properly
- Avoid data duplication
- Build many-to-many relationships with junction tables

## üìö Why Use Multiple Tables?

Currently, our `characters` table stores homeworld as TEXT. This creates problems:

### Problems with Single Table Design:

1. **Duplication:** "Tatooine" is stored multiple times
2. **Inconsistency:** One entry might say "Tatooine", another "tatooine"
3. **Limited information:** We can't store climate, population, etc.
4. **Update issues:** Changing planet name requires updating many rows

### Solution: Use Multiple Related Tables!

Instead of storing planet names repeatedly, we:
- Create a `planets` table with all planet information
- Store only a planet ID in the `characters` table
- Link characters to planets using that ID

## üèóÔ∏è Understanding Database Relationships

### One-to-Many Relationship

**Definition:** One record in Table A relates to many records in Table B.

**Examples:**
- **One planet ‚Üí Many characters** (many characters from one planet)
- One customer ‚Üí Many orders
- One author ‚Üí Many books

### Many-to-Many Relationship

**Definition:** Multiple records in Table A relate to multiple records in Table B.

**Examples:**
- **Many characters ‚Üí Many vehicles** (characters pilot multiple vehicles, vehicles have multiple pilots)
- Many students ‚Üí Many courses
- Many actors ‚Üí Many movies

## üîë Primary Key vs Foreign Key

| Key Type | Purpose | Example |
|----------|---------|---------|
| **Primary Key** | Uniquely identifies each row in a table | `id` in `planets` table |
| **Foreign Key** | References a primary key in another table | `homeworld_id` in `characters` table |

### Visual Example:

```
characters table:
id | name           | homeworld_id (FOREIGN KEY)
1  | Luke Skywalker | 1
2  | Darth Vader    | 1

planets table:
id (PRIMARY KEY) | name     | climate
1                | Tatooine | arid
2                | Alderaan | temperate
```

Both Luke and Vader have `homeworld_id = 1`, which points to Tatooine.

## üõ†Ô∏è Setup: Connect to Database

**Run the next 2 cells:**

In [ ]:
# Load SQL magic extension
%load_ext sql

# Fix prettytable compatibility issue
import prettytable
try:
    # Try to access DEFAULT to see if it exists
    _ = prettytable.DEFAULT
except AttributeError:
    # If it doesn't exist, add it using SINGLE_BORDER
    from prettytable import SINGLE_BORDER
    prettytable.DEFAULT = SINGLE_BORDER

# Configure SQL magic settings
%config SqlMagic.autopandas = False
%config SqlMagic.displaycon = False
%config SqlMagic.feedback = False

In [ ]:
%sql sqlite:///starwars.db

## üìö Schema Design Reference

**Tables you'll create:**
1. **planets** - Tatooine, Alderaan, Kashyyyk, Naboo, etc.
   - Columns: id, name, climate, population
   
2. **vehicles** - X-wing, Millennium Falcon, Speeder bike, etc.
   - Columns: id, name, model, manufacturer, cost

3. **characters** - Links to planets via foreign key
   - Columns: id, name, species, homeworld (references planets.id), height

4. **character_vehicles** - Junction table for many-to-many
   - Columns: character_id, vehicle_id

üí° **This lesson:** You'll build relationships between these tables!

### üìã Sample Data Examples

**Planet examples to insert:**
- Tatooine (desert climate, ~200,000 population)
- Alderaan (temperate, ~2,000,000,000)
- Kashyyyk (tropical, ~45,000,000)
- Naboo (temperate, ~4,500,000,000)

**Vehicle examples to insert:**
- X-wing (Starfighter, Incom Corporation, 149,999 credits)
- Millennium Falcon (YT-1300 light freighter, Corellian, 100,000 credits)
- Speeder bike (74-Z speeder bike, Aratech, 8,000 credits)

**Character examples with foreign keys:**
- Luke Skywalker (Human, homeworld_id=1 for Tatooine, 172cm)
- Leia Organa (Human, homeworld_id=2 for Alderaan, 150cm)
- Chewbacca (Wookiee, homeworld_id=3 for Kashyyyk, 228cm)

**Character-Vehicle relationships:**
- Luke flies X-wing (character_id=1, vehicle_id=1)
- Han Solo flies Millennium Falcon

üí° **You'll create these tables and insert this data yourself!**

## ü™ê Part 1: Create the Planets Table

### Create Planets Table with Schema

**New Concept:** `UNIQUE` constraint ensures no duplicate planet names.

In [ ]:
%%sql
-- Create the planets table

### Insert Planet Data

In [ ]:
%%sql
-- Create the vehicles table

### View Planets Table

In [ ]:
%%sql
-- View the schema for planets table

## üîó Part 2: Link Characters to Planets

### Add homeworld_id Column to Characters

**Note:** This creates the foreign key reference.

In [ ]:
%%sql
-- View the schema for vehicles table

### Update Characters with Planet IDs

**Explanation:** These subqueries find each planet's ID and update the character's `homeworld_id`.

**Run the next cell to link all characters to their planets:**

In [ ]:
%%sql
-- Create the characters table with foreign key

### Verify the Links

In [ ]:
%%sql
-- View the characters schema

## üìä Understanding Normalization

**Normalization** is the process of organizing data to reduce redundancy.

### Before (One Table):

```
id | name          | homeworld | climate | population
1  | Luke Skywalker| Tatooine  | arid    | 200000
2  | Darth Vader   | Tatooine  | arid    | 200000
```

‚ùå **Problem:** "Tatooine", "arid", "200000" stored twice (duplication!)

### After (Two Tables):

```
characters:
id | name          | homeworld_id
1  | Luke Skywalker| 1
2  | Darth Vader   | 1

planets:
id | name     | climate | population
1  | Tatooine | arid    | 200000
```

‚úÖ **Benefit:** Planet data stored once, referenced multiple times!

### Benefits of Normalization:

1. **No duplication** - Store each fact once
2. **Consistency** - One source of truth
3. **Easier updates** - Change data in one place
4. **Data integrity** - Foreign keys enforce valid relationships

## üöó Part 3: Create Vehicles Table

Let's create a vehicles table for starships and speeders.

In [ ]:
%%sql
-- Insert planet data

### Insert Vehicles

In [ ]:
%%sql
-- Insert vehicle data

### View Vehicles

In [ ]:
%%sql
-- View the planets

## üîÄ Part 4: Many-to-Many Relationships

### The Problem:

- Luke flies multiple vehicles (X-wing, Snowspeeder)
- Multiple characters fly the Millennium Falcon (Han, Chewie)
- One character ‚Üí Many vehicles
- One vehicle ‚Üí Many characters
- This is a **many-to-many** relationship!

### The Solution: Junction Table

A **junction table** (also called linking table or associative table) connects two tables in a many-to-many relationship.

**Structure:**
```
character_vehicles:
character_id | vehicle_id
1            | 1          (Luke ‚Üí X-wing)
1            | 5          (Luke ‚Üí Snowspeeder)
3            | 2          (Han ‚Üí Millennium Falcon)
4            | 2          (Chewie ‚Üí Millennium Falcon)
```

### Create Junction Table

In [ ]:
%%sql
-- Insert character data with planet foreign keys

**Explanation:**

- `character_id` references the `characters` table
- `vehicle_id` references the `vehicles` table
- `PRIMARY KEY (character_id, vehicle_id)` ensures each pairing is unique (can't link Luke to X-wing twice)
- Both columns are foreign keys to their respective tables

### Link Characters to Vehicles

**Important:** Make sure you use the correct IDs from your tables!

In [ ]:
%%sql
-- Create the character_vehicles junction table

### View Character-Vehicle Links

In [ ]:
%%sql
-- View the junction table schema

## üîç Part 5: Verify Relationships

### Count Characters per Planet

In [ ]:
%%sql
-- Insert relationships: Luke flies an X-wing

**Note:** We're using a JOIN here (Lesson 6 topic), but it helps verify our relationships!

### Count Vehicles per Character

In [ ]:
%%sql
-- View the relationships

## üìã Relationship Types Summary

### One-to-Many

**Setup:**
- Add foreign key column to the "many" table
- Points to primary key in the "one" table

**Example:** characters.homeworld_id ‚Üí planets.id

### Many-to-Many

**Setup:**
- Create junction table
- Two foreign key columns (one for each table)
- Composite primary key on both columns

**Example:** character_vehicles (character_id, vehicle_id)

## üéì Practice Exercise

Add 2 more planets, 2 more vehicles, and create some new relationships!

### Exercise 1: Add More Planets

In [ ]:
%%sql
-- Exercise 1: Create a table for starships

### Exercise 2: Add More Vehicles

In [ ]:
%%sql
-- Exercise 2: Insert starship data

### Exercise 3: Link New Vehicles to Characters

In [ ]:
%%sql
-- Exercise 3: View your starships

### Exercise 4: Verify Your Additions

In [ ]:
%%sql
-- Challenge 1: Create species table

In [ ]:
%%sql
-- Challenge 1: Insert species data

## üêõ Common Errors & Troubleshooting

### Error: "FOREIGN KEY constraint failed"

**Problem:** Trying to insert a character_id or vehicle_id that doesn't exist.

**Solution:** Verify the IDs exist:

In [ ]:
%%sql
-- Challenge 2: Create films table

In [ ]:
%%sql
-- Challenge 2: Insert film data

### Error: "UNIQUE constraint failed: planets.name"

**Problem:** Trying to insert a planet that already exists.

**Solution:** Check existing planets first:

In [ ]:
%%sql
-- Challenge 3: Create character_films junction table

### Wrong Foreign Key Values

**Problem:** `homeworld_id` doesn't match actual planet IDs.

**Solution:** Use subqueries to find correct IDs:

In [ ]:
%%sql
-- Challenge 3: Insert character-film relationships

### Many-to-Many Confusion

**Remember:** 

**One-to-Many:**
- Use foreign key in the "many" table
- Example: characters.homeworld_id ‚Üí planets.id

**Many-to-Many:**
- Use junction table with two foreign keys
- Example: character_vehicles (character_id, vehicle_id)

**Wrong Approach:**
```sql
-- ‚ùå DON'T DO THIS
ALTER TABLE characters ADD COLUMN vehicle_id INTEGER;
```

This only allows one vehicle per character!

**Correct Approach:**
```sql
-- ‚úÖ DO THIS
CREATE TABLE character_vehicles (
    character_id INTEGER,
    vehicle_id INTEGER
);
```

This allows multiple vehicles per character and vice versa.

## üéØ Challenge Problem (Optional)

**Task:** Design and create a `missions` table that tracks Star Wars missions. Each mission should have:
- A unique ID
- A name
- A location (foreign key to planets)
- A date
- A description

Then create a `character_missions` junction table to track which characters participated in which missions. Insert at least 3 missions and link characters to them.

**Requirements:**
- CREATE TABLE for missions
- CREATE TABLE for character_missions (junction table)
- INSERT 3+ missions
- INSERT 5+ character-mission links
- Verify with SELECT queries

In [ ]:
%%sql
-- Bonus Challenge 1: NOT NULL constraint demo

In [ ]:
%%sql
-- Bonus Challenge 2: UNIQUE constraint demo

In [ ]:
%%sql
-- Bonus Challenge 3: CHECK constraint demo

In [ ]:
%%sql
-- Bonus Challenge 4: DEFAULT value demo

In [ ]:
%%sql
-- Bonus Challenge 5: Foreign key constraint demo

## ‚úÖ Checkpoint & Summary

### What You've Learnt

- ‚úÖ Understand database normalization (avoid duplication)
- ‚úÖ Create related tables with foreign keys
- ‚úÖ Design one-to-many relationships (planet ‚Üí characters)
- ‚úÖ Build many-to-many relationships (characters ‚Üî vehicles)
- ‚úÖ Use junction tables for many-to-many
- ‚úÖ Insert data maintaining referential integrity
- ‚úÖ Link records across tables using IDs
- ‚úÖ Verify relationships with queries

### Key SQL Commands

| Command | Purpose | Example |
|---------|---------|---------|
| `UNIQUE` | Prevent duplicates | `name TEXT NOT NULL UNIQUE` |
| `FOREIGN KEY` | Link to another table | `FOREIGN KEY (homeworld_id) REFERENCES planets(id)` |
| `PRIMARY KEY` | Unique identifier | `id INTEGER PRIMARY KEY AUTOINCREMENT` |
| Junction Table | Many-to-many link | `character_vehicles(character_id, vehicle_id)` |
| Subquery | Find ID | `(SELECT id FROM planets WHERE name = 'Tatooine')` |

### Key Concepts

| Concept | Meaning |
|---------|---------|
| **Normalization** | Organizing data to reduce duplication |
| **Primary Key** | Unique identifier for rows in a table |
| **Foreign Key** | Field linking to another table's primary key |
| **One-to-Many** | One record relates to many records |
| **Many-to-Many** | Multiple records relate to multiple records |
| **Junction Table** | Links two tables in many-to-many relationship |
| **Referential Integrity** | Ensuring foreign keys reference valid records |

## üéâ Excellent Work!

You've now built a proper relational database with multiple connected tables! In the next lesson, you'll learn how to retrieve data from multiple tables using JOINs.

**Ready to continue?** Open `lesson6_joins.ipynb`

---

## üíæ Git Commands (for reference)

```bash
git status
git add solutions/lesson5_schema.ipynb
git commit -m "Completed Lesson 5: Multiple tables and relationships"
git push
```